@model List<Gestion_Prestamos.Models.CarritoDePrestamo>

<div class="carrito-container">
    <h4>Carrito</h4>
    <ul>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <li>@item.Elemento.Nombre</li>
            }
        }
        else
        {
            <li>No hay elementos en el carrito.</li>
        }
    </ul>
    <a asp-controller="CarritoDePrestamo" asp-action="VerCarrito" class="btn btn-primary">Ver Carrito</a>
</div>
